<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos/style.css">
    
    <title>BEMKITY</title>
</head>
<body>
    <header>
        <div id="titulo">
        <h1>BEMTIVY</h1>
        <p><span id="subtitulo">Encontre um expert ou  cadastre para ser um profissional !</span></p>
        </div>
        <div id="user">
            <span><a href="/cadastro">Cadastre-se</a></span>
            <span><a href="/login">Entrar</a></span>
        </div>
    </header>
    <main>
        <div id="buscador">
            <input id="buscar"type="text" placeholder=" Encontre um expert">
            <button id="btnBuscar">Buscar</button>
            </div>
    <article id="principal">
        <section id="areaDeBusca"> 
           
            <div id="profissionais">
                
               
                <% lista.forEach(element => { %>
                    <article id="profissional">
                        <img class= "profileImg" src='https://cdn.dribbble.com/users/1186261/screenshots/3718681/media/27438516469ad4d494718cb2b9895ca5.gif' alt="" srcset="" width="200px" height="150px">
                        <div id="infoProfissional">
                            <p class="negrito nome1"><%= element.nome %> </p>
                            <p><span><p class="negrito">Categoria:</p></span><%= element.categoria %> </p>
                            <p><span class="negrito">Descrição:</span>. <%= element.descricao %></p>
                            <p> <span class="negrito" >Avaiaçoes:</span> <%= element.avaliacao %></p>
                        </div>
                    </article>
                <% }) %>
            <article id="profissional">
                <img src="./1.jpg" alt="" srcset="" width="200px" height="150px">
                <div id="infoProfissional">
                    <p class="negrito nome1">andre SOUZA</p>
                    <p><span><p class="negrito">Categoria:</p></span>Pintura</p>
                    <p><span class="negrito">Descrição:</span> Pintor profissional com experiencia em pinturas prediais. Materiais de otima qualidade</p>
                    <p> <span class="negrito" >Avaiaçoes:</span> 4.3</p>
                </div>
            </article>
                    
            </div>


        </section>
        <aside id="lateral">
            <article id="topProfissionais"><h2>Top Profissionais</h2>
                <ul>
                    <li>João Marcelo</li>
                    <li>Marcos</li>
                    <li>Lucas</li>
                    <li> Brenda</li>
                    <li>Fernanda</li>
                </ul>
            </article>
            <article id="categorias">
                <h2>Categorias</h2>
                <ul>
                    <li>Serviços</li>
                    <li>Artezanaro</li>
                    <li>Limpeza</li>
                    <li>Construção</li>
                    <li>Jardinagem</li>
                    <li>Feesta e decoaração</li>
                    <li>Marketing</li>
                    <li>Desing</li>
                    <li>Saúde</li>

                    
                    
                </ul>
            </article>
            
        </aside>
    </article>
    </main>
    <footer> <p>Todos direitos reservados para profissionais autonomos | 2021</p></footer>
    <script src="js/scripts.js"></script>
</body>
</html>