<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos/estilo-cadastro.css">
    <link rel="stylesheet" href="estilos/style.css">
    <title>Profissionais autonomos</title>
</head>
<body>
    <header>
        <div id="titulo">
        <h1>Olirio</h1>
        <p>Encontre um expert ou  cadastre para ser um profissional !</p>
        </div>
        <div id="user">
            <span><a href="/">Home</a></span>
            <span><a href="/cadastro">Cadastre-se</a></span>
        </div>
    </header>
    <main id="corpoCadastro">
   
        <div id="formCad">
            
            <div id="formulario">
                <h1>Entrar</h1>
                <h4>Primeira vez na Profissa?

                     <span><a href="/cadastro">Criar uma conta</a></span></h4>
                <br>
                <form action="/user">
                    
                    
                    <label for="femail">Email</label>
                    <input type="text" name="femail" id="femail">
                    <label for="fsenha">Senha</label>
                    <input type="password" name="fsenha" id="fsenha">
                    <button type="submit">Entrar</button>

                </form>
            </div>
            <div id="imgCad">
                <div class="seta">////</div>
                <div class="seta">////</div>
                
            </div>

        </div>
        
    </main>
    <footer> <p>Todos direitos reservados para profissionais autonomos | 2021</p></footer>
    <script src="scripts.js"></script>
</body>
</html>