<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./estilos/estilo-usuario.css">
    <title>User name</title>
</head>
<body>
    <header>
        <h1>Olirio</h1>
        <p><a href="login.html">Sair</a> </p>
    </header>

    <main id="corpo">
        <section id="dashboard">
            
            <section id="info-user">
                
                
                <article id="avatar"></article>
                <article id="detalhes">
                    <span><p>nome:</p>
                    <span><p>profissão:</p></span></span>
                    <span><p>local de atendimento:</p></span>
                    <span><p>telefone:</p></span>
                    <span><p>email:</p></span>
                </article>
                
            </section>
            <section id="seccao1">
                <div>
                    <h2>Título da secção</h2>
                 </div>
                 <div class="elementos">
                    <article class="elemento"><p>Chamados</p></article>
                    <article class="elemento"><p>Orçamentos</p></article>
                    <article class="elemento"><p>Saldo</p></article>
                    <article class="elemento"><p>Clientes</p> </article>
                 </div>
               
            </section>
    
             <section id="seccao2">
                 <div>
                    <h2>Título da secção</h2>
                 </div>
                 <div class="elementos">
                    <article class="elemento"><p>Avaliaçoes</p></article>
                    <article class="elemento"><p>Dias ativos</p></article>
                    <article class="elemento"><p>outros</p></article>
                    <article class="elemento"><p>mais um</p></article>
                 </div>
                
            </section>
            </section>


            <aside id="lateral">
                <h2>Título da secção</h2>
               <section id="opcao">
                   <ul>
                       <li>suporte</li>
                       <li>opçao</li>
                       <li>opçao</li>
                       <li>opçao</li>
                   </ul>
                   

                </section> 
                <section id="info">
                    <ul>
                        <li>suporte</li>
                        <li>opçao</li>
                        <li>opçao</li>
                        <li>opçao</li>
                    </ul>
                </section>
            </aside>
    </main>
    
    <footer id="rodape">rodapé</footer>
</body>
</html>